<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Phoenix Club</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/mobile.css">
  </head>
  <body>
    <form class="forms" action="index.html" method="post">
      <h1>Phoenix Club</h1>
      <input type="text" name="" value="" placeholder="User Name">
      <input type="text" name="" value="" placeholder="Password">
      <button type="submit" name="button">Admin Login</button>
    </form>
    <a href="search.html">After you Admin Login...</a>

  </body>
</html>

<!-- Talk to mark about IP key
Don't want everyone to be able to login as Admin outside of club
Only Myra and Tymber should be able to have admin ability outside of club

I really think Myra and Tymber should be able to login outside of the club, just in case. -->
