<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Phoenix Club</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/mobile.css">
  </head>
  <body>
    <form class="forms" action="index.html" method="post">
      <h1>Create New Member</h1>
      <input type="text" name="" value="6001">
      <input type="text" name="" value="" placeholder="Scene Name">
      <input type="text" name="" value="" placeholder="First Name">
      <input type="text" name="" value="" placeholder="Last Name">
      <input type="text" name="" value="" placeholder="Email">
      <div id="newMemberCheckbox">
        <h3>Is this person a Guest?</h3>
          <input type="checkbox" name="" value="Guest">Guest <br>
          <input type="checkbox" name="" value="MRE">MRE <br>
          <input type="checkbox" name="" value="TSS">TSS <br>
          <input type="checkbox" name="" value="SP3">SP3 <br>

        </div>

    </form>

  </body>
</html>


<!-- Ask Mark about Member numbers- should we give them the option to Edit numbers? Or just show the new number that they're using? -->
