<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Phoenix Club</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/mobile.css">
  </head>
  <body>
    <form class="forms" action="index.html" method="post">
      <h1>These members fit current search </h1>
      <div class="resultsOfSearch">
        <h2>John Doe</h2>
        <h2>Random Mistress</h2>
        <label for="Email">Email</label><h3>Radomgen@fubar.com</h3>
        <label for="Guest">Guest</label><h3>MRE</h3>
        <label for="Paperword">Paperwork to be Renewed in</label> <h3>2 months</h3>
      </div>
      <div class="resultsOfSearch">
        <h2>John Doe</h2>
        <h2>Random Mistress</h2>
        <label for="Email">Email</label><h3>Radomgen@fubar.com</h3>
        <label for="Guest">Guest</label><h3>MRE</h3>
        <label for="Banned" class="banned">Banned</label> <h3 class="banned">REASON FOR BANNING</h3>
      </div>
      <div class="resultsOfSearch">
        <h2>John Doe</h2>
        <h2>Random Mistress</h2>
        <label for="Email">Email</label><h3>Radomgen@fubar.com</h3>
        <label for="Paperword">Paperwork to be Renewed in</label> <h3>2 months</h3>
      </div>

    </form>

  </body>
</html>
