<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Phoenix Club</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/mobile.css">
  </head>
  <body>
    <form class="forms" action="index.html" method="post">
      <h1>Find Member by..</h1>
      <input type="text" name="" value="" placeholder="Member Number, Sceen Name, Name">
      <button type="submit" name="button">Find Member</button>
    </form>
    <a href="newMember.html">Create New Member</a>
    <a href="searchResults.html">(after clicking Find members buttons)</a>
  </body>
</html>
